*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins" , sans-serif;
  flex-direction: column;
  gap: 1rem;
  background-image: url('./3d-tropical-palm-tree-island_1048-10632.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.heading{
  font-size: 1.2rem;
  color: rgb(140, 67, 15);
  text-decoration: underline;
  animation: scroll-left  20s linear infinite;
}
.color-picker{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.color-picker:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.color-info{
  margin-top: 20px;
}
p{
  margin: 5px 0;
  font-size: 18px;
}

